<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<link rel="icon" href="img/icon.jpg">

<title>Excelsiors website Development</title>
</head>

<p>
<ul>

  <li><a class="active" href="/home" id="home">Home</a></li>
  <li><a href="/login" id="login_header">Login</a></li>
  <li><a href="/forumtopic" id="forumtopic_header">Forum Topic</a></li>
  <li><a href="/knowledge" id="knowledge_header">Knowledge</a></li>
  <li><a href="/about" id="about_header">About</a></li>

</ul>
</p>

</div>
<p>