<style type="text/css">
    .content{
            width: 90%;
            height: 100%;
        }

        .content-left{
            margin-top: 30px;
            width: 19%;
            height: 900px;
            background-color: white;

            float: left;
        }

        .content-right{
            margin-top: 50px;
            width: 75%;
            height: 900px;
            background-color: white;

            float: right;

        }

        .left-title{
            height: 50px;
            width: 100%;
            font-family: serif;
            font-size: xx-large;

        }

        .left-title>a{
            display: block;
            width: 100%;
            height: 50px;
            /*垂直剧中*/
            line-height: 50px;

            /*水平剧中*/
            text-align: center;
            color: black;

            text-decoration: none;


        }

        .seg{
            height: 1px;
            width: 100%;
            background: black;


        }

        .nav{
            margin-top: 5px;
            position: fixed;
            font-size: medium;

        }


        .nav-content{
            width: 100%;
            height: 100%;
            background: white;
            font-size: large;

        }

        .nav-content>a{
            display: block;
            height: 30px;
            width: 100%;
            color: black;

            text-decoration: none;
            line-height: 30px;
            text-align: center;
            background-color: white;

        }

        .nav-content>a:hover{
            display: block;
            height: 30px;
            width: 100%;
            color: darkgrey;

            text-decoration: none;
            line-height: 30px;
            text-align: center;
            background: white;

        }

        .homepage-section {
          padding: 100px;
          text-align: center;
          background-color:#D3D3D3;
            opacity:0.6;
          color: white;
            background:url(img/html-back.jpeg) #25282e  no-repeat;
            background-size: cover;
        }

</style>
<div class="homepage-section">



</div>

<div class="content">

        <div class="content-left">
            <!-- menu nav-->
            <div class="nav">
                 <div class="left-title">
                <a href="#">Useful Link</a>
                 </div>
                <div class="seg"></div>
                <!-- every main menu-->
                <div class="nav-menu">
                    <!-- title of main menu-->

                    <div class="seg"></div>
                    <!-- title of submenu-->
                    <div class="nav-content">
                        <a href="/register">Register</a>
                        <a href="/knowledge">Knowledge</a>
                        <a href="/forum">Forum</a>
                        <a href="/challenge">Challenge</a>
                    </div>
                </div>



            </div>
        </div>


        <div class="content-right">

            <h1 style="color:black";>Time to Study Web!</h1>
              <p style="color:black";>Have a dream to become a web developer? Or just feel bored at weekends? <br>Welcome to our website and start you
                            journey of studying web development!</p>

            <img src="img/index.jpeg" alt="Pulpit rock" width="600" height="300" >
            <h1>Why choose our website?</h1>
            <p>There are thorough materials for you to learn: how the web works, HTML/CSS, Javascript<br>and
                everything you may need. Just a freshman or already have some knowledge about the web? Both are fine!<br>
                You can just take a simple test and let we know the current knowledge you have, so that you can start<br>
                at a certain level of difficulty - basic, intermidiate or advanced. To ensure you enjoy the study,<br>
                some youtube videos are added and these also enable you to have a better understanding of the concepts.<br>
                Need practices? No worries! Visit the challenge module and get exercises as much as you want. <br>
                Feel alone when studying? Our tutors and other users are waiting for you at the discussion forum! Post your <br>
                questions there and feel free to communicate with others!<br>
                <br>
                </p>

        </div>
</div>

<!--<div class="container", style="background-image: url('background.jpg');">-->
<!--    <h1>Time to Study Web!</h1>-->
<!--    <p>Have a dream to become a web developer? Or just feel bored at weekends? <br>Welcome to our website and start you-->
<!--        journey of studying web development!<br>-->
<!--    </p>-->

<!--    <div class="row">-->
<!--      <div class="col-sm-4">-->
<!--        <h3>Why choose our website?</h3>-->
<!--        <p>There are thorough materials for you to learn: how the web works, HTML/CSS, Javascript<br>and-->
<!--        everything you may need. Just a freshman or already have some knowledge about the web? Both are fine!<br>-->
<!--        You can just take a simple test and let we know the current knowledge you have, so that you can start<br> -->
<!--        at a certain level of difficulty - basic, intermidiate or advanced. To ensure you enjoy the study,<br>-->
<!--        some youtube videos are added and these also enable you to have a better understanding of the concepts.<br>-->
<!--        Need practices? No worries! Visit the challenge module and get exercises as much as you want. <br>-->
<!--        Feel alone when studying? Our tutors and other users are waiting for you at the discussion forum! Post your <br>-->
<!--        questions there and feel free to communicate with others!<br>  -->
<!--        <br>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <h3>Useful links:</h3>-->
<!--        <p> <a href="/login">Login</a><br>-->
<!--            <a href="/knowledge">Knowledge</a><br>-->
<!--            <a href="/forum">Forum</a><br>-->
<!--            <a href="/challenge">Challenge</a><br>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->