<!DOCTYPE html>
<html>

<head>
  <title>About Us - SYNCS</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="About Us - SYNCS" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://syncs.org.au/about/">
  <meta property="og:image" content="../static/img/logo-blue.svg" />
  <meta property="og:description"
    content="SYNCS is the computing society for students at The University of Sydney. We encourage everyone to join - whether you're studying CS or just interested in computers. Joining is free!" />
  <link rel="icon" type="image/png" href="../static/img/icon.png">
  <link rel="stylesheet" href="../static/style.css" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,300,400" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.7/css/fork-awesome.min.css"
    integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous" />

</head>

<body class="down">
  <header id="global-head">
    <div class="container">
      <div class="logo">
        <h1><a href="/"><img src="../static/img/logo-blue.svg" alt="SYNCS" height="32" /></a></h1>
      </div>
      <div class="menu" id="suits-nav">
        <a href="/" class="nav-button"><i class="fa fa-bars"></i></a>
        <ul id="main-nav">
          <li><a href="https://join.syncs.org.au">Join Us</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/careers">Careers</a></li>
          <!--<li><a href="/get-involved">Get Involved</a></li>-->
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://hack.syncs.org.au">SYNCS Hack</a></li>

        </ul>
      </div>
      <div class="menu" id="social-media">
        <ul>
          <li><a href="https://facebook.com/SYNCSusyd" aria-label="Facebook"><i class="fa fa-facebook-f"
                aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/SYNCSusyd" aria-label="Twitter"><i class="fa fa-twitter"
                aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/groups/3765854" aria-label="LinkedIn"><i class="fa fa-linkedin"
                aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/syncs-usyd" aria-label="Github"><i class="fa fa-github"
                aria-hidden="true"></i></a></li>
          <li><a href="https://matrix.to/#/+community:syncs.org.au" aria-label="Matrix"><i class="fa fa-matrix-org"
                aria-hidden="true"></i></a></li>
          <li><a href="https://syncs-community.slack.com" aria-label="Slack"><i class="fa fa-slack"
                aria-hidden="true"></i></a></li>
          <li><a href="https://discord.gg/Q9ex5F2" aria-label="Discord"><i class="fa fa-discord"
                aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </header>

  <section id="page-header">
    <div class="container">
      <h2>Who are we?</h2>
      <ul class="subnav-tabs">
        <li class="active"><a href="/about/">Who are we?</a></li>
        <li><a href="/about/roles">Executive Roles</a></li>
        <li><a href="/about/alumni">Past Executives</a></li>
      </ul>
    </div>
  </section>
  <section id="page" class="container">
    <div id="page-content">
      <div class="row main-content">
        <div class="col-md-8">
          <img src="../static/img/logo-blue.svg" class="offset-about" />
          <p class="first">Our mission is to help students discover the joy of studying computing at the University of
            Sydney.</p>
          <p>
            The Sydney Computing Society (SYNCS) is a not-for-profit student organisation.
            We run social events, hold seminars, teach beginner and advanced programming skills, help connect employers
            with students, and facilitate communication between staff and students in the School of Computer Science.
          </p>
          <p>
            Our club is supported by <a href="https://www.usu.edu.au">University of Sydney Union</a> and our <a
              href="/sponsors">industry sponsors</a>.
          </p>
        </div>
      </div>
      <div id="our-committee" class="page-element">
        <h3><span>Our Exec Team</span></h3>
        <div class="row">

          <div class="col-md-3 col-xs-6">

            <img class="img-circle" src="#" />

            <p class="name">Sonia Kang</p>
            <p class="role">President</p>
          </div>

        </div>
      </div>
    </div>

  </section>

  <footer>
    <div class="container">
      <p>&copy; 2021 Sydney University IT Society.</p>
      <p>Original design by <a href="http://terencehuynh.com/">Terence Huynh</a>.</p>
    </div>
  </footer>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../static/js/main.js"></script>

</body>

</html>